.header {
  color: black;
  background-color: cornflowerblue;
  text-align: center;
  font-size:300%;
  font-weight: 500;
  height: 100px;
  width: 700px;
  border: 5px solid black;
  margin: 20px;
}
.header-contact {
  color: black;
  background-color: cornflowerblue;
  text-align: center;
  font-size:300%;
  font-weight: 500;
  height: 100px;
  width: 700px;
  border: 5px solid black;
  margin: 20px;
}
.header1-content {
  color: black;
  font-size: 120%
}
.content {
  color: black;
  font-size: 150%;
  font-weight: 250;
  margin: 40px;
}
.services{
  color: black;
  font-size: 125%;
  font-weight: 200;
  margin: 40px;
}
.languagesheader {
  font-weight: bold;
}
.foodsheader {
  font-weight: bold;
}
.services li:hover {
  background-color: #CA4643;
}
.navigation {
  color: blue;
  font-family: Arial;
  background-color: yellow;
  padding: 1px 0;
  top: 0;
  right: 0;
  width: 100vw;
  display: inline;
  position: relative;
}
.navigation li:first-child {
}
.navigation > a {
}
.navigation a {

}
.navigation + div li:first-child {
  background-color: green;
  margin: 5px;
  padding: 10px
}
.navigation: dropdown;

#menu {
  font-family: sans-serif;
  margin: 80px;
  display: inline;
  cursor: pointer;
  position: relative;
}
#menu > ul {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}
#menu:hover {

}
#menu:hover > ul {
  display: list-item;
}
.container {
  max-width: 750px;
  margin: 0 auto;
}
.haikuheader {
  font-weight: bold;
}
.haiku {
  color: #550200;
  width: 700px;
  padding: 20px 50px;
  border: 3px dotted black;
  margin: 20px;
}
.languages li:hover {
  color: #0A4BFB;
}
.foods li:hover {
  color: #0A4BFB;
}
.footer {
  font-size: 12px;
}
