.header {
  color: black;
  background-color: cornflowerblue;
  text-align: center;
  font-size:300%;
  font-weight: 500;
  height: 100px;
  width: 700px;
  border: 5px solid black;
  margin: 20px;
}
.content {
  color: black;
  font-size: 150%;
  font-weight: 250;
  margin: 40px;
}
.services{
  color: black;
  font-size: 125%;
  font-weight: 200;
  margin: 40px;
}
.services li:hover {
  background-color: #CA4643;
}
.navigation {
  color:blue;
}
.navigation > a {
  color: orange;
}
.navigation {
  color: orange;
}
.navigation a {

}
.navigation li:first-child {
  background-color: yellow;
}
.navigation + div li:first-child {
  background-color: green;
}

#haiku {
  color: #550200;
  height: 80px;
  width: 700px;
  border: 3px dotted black;
  margin: 20px;
}
